<div>

  <div class="main_container">
    <div class="welcome_container">
      <div class="welcome_up">

      </div>
      <div class="welcome_center">
        <h1>Welcome</h1>
        <p>With supporting below as a natural lead-in to additional content.</p>
        <button class="btn btn-primary">See transactions</button>
      </div>

      <div class="welcome_down">
        <span>You have {{ total }} transactions</span>
      </div>
    </div>

  </div>

  <div
    class="info_container"
  >

    <div
      class="info_block"
      *ngFor="let company of companies; let idx = index"
    >
      <div class="info_description_block">
        <h3>{{ company.count }}</h3>
        <p>{{ company.title | titlecase }}</p>
        <div class="info_block_btn">
          <button
            class="btn btn-primary info_btn"
            [routerLink]="['/navigator']"
            [queryParams]="{tab: idx}"
          >See all</button>
        </div>
      </div>
    </div>

  </div>

</div>
