
.main_container {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

.welcome_container {
  width: 40%;
  display: flex;
  flex-direction: column;
  border: 1px solid #797979;
  border-top: none;
}

.welcome_up {
  height: 50px;
  border-bottom: 1px solid #797979;
  background-color: #e5e5e5;
}

.welcome_center {
  display: flex;
  flex-direction: column;
  text-align: center;

  h1 {
    margin: 20px 0 10px 0;
  }

  p {
    margin: 10px 0 0 0;
  }

  button {
    width: 150px;
    margin: 20px auto;
  }
}

.welcome_down {
  border-top: 1px solid #797979;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e5e5e5;
}

.info_container {
  width: 40%;
  margin: 0 auto;
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  padding: 10px 0 0 0;
}

.info_block {
  width: 49%;
  border: 1px solid #797979;
  border-radius: 5px;
  margin-bottom: 15px;
}

.info_description_block {
  padding: 20px;
}

.info_block_btn {
  display: flex;
  justify-content: end;
}

.info_btn {
  width: 50%;
}

