<div class="main_container_nav">
  <div class="container_nav">
    <div class="tabs_nav">

      <nav>
        <div class="tabs_blocks_nav">

          <div class="title_nav" style="border-left: 1px solid black">
            <a>Income</a>
          </div>

          <div class="title_nav">
            <a>Outcome</a>
          </div>

          <div class="title_nav">
            <a>Loans</a>
          </div>

          <div class="title_nav">
            <a>Investments</a>
          </div>

        </div>
      </nav>

    </div>

    <div>

    </div>
  </div>
  <div class="container_info">
    <div>
      <div>
        <span>Name</span>

        <ul>
          <li>123</li>
          <li>535</li>
          <li>142</li>
          <li>64</li>
          <li>24</li>
        </ul>
      </div>
    </div>

    <div>
      <div>
        <span>Account</span>

        <ul>
          <li>123</li>
          <li>535</li>
          <li>142</li>
          <li>64</li>
          <li>24</li>
        </ul>
      </div>
    </div>
  </div>
</div>
