.main_container_nav {
  padding-top: 25px;
  width: 41%;
  margin: 10px auto;
  border: 1px solid black;
  border-radius: 20px;
}

.tabs_blocks_nav {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.title_nav {
  width: 200px;
  height: 60px;
  border-radius: 20px 20px 0 0;
  border-right: 1px solid;
  border-top: 1px solid;
  display: flex;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
}

.container_info {
  display: flex;
  margin: 50px 0 50px 0;
}

.block_name {
  text-align: center;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}

.blocks_info {
  width: 50%;
}

hr {
  margin: 10px auto;
  padding: 0;
  width: 80%;
}
