<div class="main_container_nav">
  <div class="container_nav">
    <div class="tabs_nav">

      <nav>
        <div class="tabs_blocks_nav">

          <div
            class="title_nav"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact:true}"
          >
            <a
              routerLink="/navigator"
              [queryParams]="{tab: 0}"
            ><span>Income</span></a>

          </div>

          <div
            class="title_nav"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact:true}"
          >
            <a
              routerLink="/navigator"
              [queryParams]="{tab: 1}"
            ><span>Investments</span></a>
          </div>

          <div
            class="title_nav"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact:true}"
          >
            <a
              routerLink="/navigator"
              [queryParams]="{tab: 2}"
            ><span>Outcome</span></a>
          </div>

          <div
            class="title_nav"
            style="border-right: none"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact:true}"
          >
            <a
              routerLink="/navigator"
              [queryParams]="{tab: 3}"
            ><span>Loans</span></a>
          </div>

        </div>
      </nav>

    </div>

    <div>

    </div>
  </div>
  <div class="container_info">
    <div class="blocks_info">
      <div class="element_info">

        <span>Name</span>
        <span>Account</span>

      </div>

      <hr>

      <div *ngFor="let info of infoWin">
        <div class="element_info">
          <span>{{ info.name.first }} {{info.name.last }}</span>
          <span> {{ info.amount }}</span>
        </div>
        <hr>
      </div>
    </div>
  </div>

</div>
