<div class="main_container_nav">
  <div class="container_nav">
    <div class="tabs_nav">

      <nav>
        <div class="tabs_blocks_nav">

          <div class="title_nav">
            <a>Income</a>
          </div>

          <div class="title_nav">
            <a>Outcome</a>
          </div>

          <div class="title_nav">
            <a>Loans</a>
          </div>

          <div class="title_nav" style="border-right: none">
            <a>Investments</a>
          </div>

        </div>
      </nav>

    </div>

    <div>

    </div>
  </div>
  <div class="container_info">
    <div class="blocks_info">
      <div class="block_name">

        <span>Name</span>

        <hr/>

        <ul>
          <li>123</li>
          <hr/>
          <li>535</li>
        </ul>

      </div>
    </div>

    <div class="blocks_info">
      <div class="block_name">

        <span>Account</span>

        <hr/>

        <ul>
          <li>123</li>
          <hr/>
          <li>535</li>

        </ul>
      </div>
    </div>
  </div>
</div>
